/* Footer.css */

.footer-container {
    background-color: #333;
    padding-top: 8px; 
    padding-bottom: 8px; 
  }
  
  .footer-text {
    color: #ffffff; 
    font-size: 14px; 
    text-align: center; 
  }
  