/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #7abaa2;
  padding: 20px;
  box-sizing: border-box;
}

/* Login Content */
.login-content {
  text-align: center;
  color: #0e9390;
  min-width: 100%;
  max-width: 400px;
}

/* Login Title */
.login-title {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.login-identy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Login Form */
.login-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

/* Form Label */
.form-label {
  margin-bottom: 10px;
  color: #0e9390 !important;
  justify-self: start;
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 20px 0;
}

/* Form Icon */
.form-icon {
  margin-right: 10px;
}

/* Form Control */
.form-control {
  width: 100%;
}

/* Estilos para botones */
.login-button, .cancel-button {
  background-color: #0e9390;
  color: #ffffff;
  border: none;
  padding: 10px 20px; 
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%; 
}

.cancel-button {
  background-color: #5a5151; 
}

.login-button:hover, .cancel-button:hover {
  opacity: 0.9; 
}
