.app-bar {
    background-color: #0e9390;
  }
  
  .icon-desktop {
    display: none;
  }
  
  .logo-desktop {
    margin-right: 2rem;
    display: none;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: .3rem;
    color: inherit;
    text-decoration: none;
  }
  
  .menu-mobile {
    flex-grow: 1;
    display: flex;
  }
  
  .icon-mobile {
    display: flex;
    margin-right: 1rem;
  }
  
  .logo-mobile {
    margin-right: 2rem;
    display: flex;
    flex-grow: 1;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: .3rem;
    color: inherit;
    text-decoration: none;
  }
  
  .menu-desktop {
    flex-grow: 1;
    display: none;
  }
  
  .nav-button {
    margin: 2rem;
    color: white;
    display: block;
  }
  
  .user-menu {
    flex-grow: 0;
  }
  
  @media (min-width: 960px) {
    .icon-desktop {
      display: flex;
      margin-right: 1rem;
    }
  
    .logo-desktop {
      display: flex;
    }
  
    .menu-mobile {
      display: none;
    }
  
    .icon-mobile {
      display: none;
    }
  
    .logo-mobile {
      display: none;
    }
  
    .menu-desktop {
      display: flex;
    }
  }
  